/* Catppuccin Mocha */

* {
    font-family: "SauceCodePro Nerd Font", sans-serif;
    background-image: none;
}

window {
    background-color: rgba(17, 17, 27, 0.85);
}

button {
    color: #cdd6f4;
    background-color: rgba(30, 30, 46, 0.85);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(69, 71, 90, 0.5);
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32%;
    margin: 8px;
    font-size: 14px;
    transition: all 200ms ease;
}

button:focus,
button:active,
button:hover {
    background-color: rgba(49, 50, 68, 0.95);
    border-color: #cba6f7;
    outline-style: none;
    color: #cba6f7;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}
