@define-color selected-text #cba6f7;
@define-color text #cdd6f4;
@define-color base #1e1e2e;
@define-color border #cba6f7;
@define-color foreground #cdd6f4;
@define-color background #1e1e2e;

* {
    all: unset;
}

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    color: @text;
}

scrollbar {
    opacity: 0;
}

.normal-icons {
    -gtk-icon-size: 0px;
}

.large-icons {
    -gtk-icon-size: 0px;
}

.box-wrapper {
    background: alpha(@base, 0.95);
    padding: 20px;
    border: 2px solid @border;
}

.search-container {
    background: @base;
    padding: 10px;
}

.input placeholder {
    opacity: 0.5;
}

.input:focus,
.input:active {
    box-shadow: none;
    outline: none;
}

child:selected .item-box * {
    color: @selected-text;
}

.item-box {
    padding-left: 14px;
}

.item-text-box {
    all: unset;
    padding: 14px 0;
}

.item-subtext {
    font-size: 11px;
    opacity: 0.6;
}

.item-image {
    -gtk-icon-size: 0px;
    min-width: 0px;
    min-height: 0px;
    margin: 0px;
    padding: 0px;
}

.current {
    font-style: italic;
}

.keybinds {
    background: @background;
    padding: 10px;
    margin-top: 10px;
    font-size: 10px;
    opacity: 0.5;
}
